<div class="row">
    <div class="col-6">
        <app-dona title="Ventas" [labels]="labels1" [data]="data1" [color]="color1"></app-dona>
    </div>

    <div class="col-6">
        <app-dona title="Compras" [labels]="labels2" [data]="data2" [color]="color2"></app-dona>
    </div>

    <div class="col-6">
        <app-dona [labels]="labels1" [data]="data1" [color]="color1"></app-dona>
    </div>

    <div class="col-6">
        <app-dona title="B" [labels]="labels2" [data]="data2" [color]="color2"></app-dona>
    </div>
</div>