<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="font-weight-bold">Seleccione su tema preferido:</h2>
                <hr>
                <div class="r-panel-body">

                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li><a (click)="setTheme('default', default)" #default class="selector default-theme">1</a></li>
                        <li><a (click)="setTheme('green', green)" #green class="selector green-theme">2</a></li>
                        <li><a (click)="setTheme('red', red)" #red class="selector red-theme">3</a></li>
                        <li><a (click)="setTheme('blue', blue)" #blue class="selector blue-theme">4</a></li>
                        <li><a (click)="setTheme('purple', purple)" #purple class="selector purple-theme">5</a></li>
                        <li><a (click)="setTheme('megna', megna)" #megna class="selector megna-theme">6</a></li>
                        
                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li><a (click)="setTheme('default-dark', defaultDark)" #defaultDark class="selector default-dark-theme">7</a></li>
                        <li><a (click)="setTheme('green-dark', greenDark)" #greenDark class="selector green-dark-theme">8</a></li>
                        <li><a (click)="setTheme('red-dark', redDark)" #redDark class="selector red-dark-theme">9</a></li>
                        <li><a (click)="setTheme('blue-dark', blueDark)" #blueDark class="selector blue-dark-theme">10</a></li>
                        <li><a (click)="setTheme('purple-dark', purpleDark)" #purpleDark class="selector purple-dark-theme">11</a></li>
                        <li><a (click)="setTheme('megna-dark', megnaDark)" #megnaDark class="selector megna-dark-theme">12</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
















